@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #282828;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 128rem;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 5rem;
}

.heading {
  font-family: "Prosto One", cursive;
  font-weight: 400;
}

.brand-name {
  font-size: 2rem;
}

.brand-name a {
  text-decoration: none;
  color: #282828;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.navbar a {
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  color: #282828;
  font-weight: 500;
  font-size: 1.4rem;
}

.icon {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

.icon a {
  color: #282828;
}

.cookies {
  position: fixed;
  bottom: 5rem;
  left: 2rem;
  max-width: 34.5rem;
  width: 100%;
  background-color: #f4f4f4;
  color: #282828;
  border-radius: 8px;
  padding: 1.5rem 2.5rem 2.2rem;
}

.hidden {
  display: none;
}

.cookie-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.cookie-header i {
  color: #282828;
  font-size: 3.2rem;
}

.cookie-header h2 {
  color: #282828;
}

.cookies .data p a {
  text-decoration: none;
  display: inline-block;
  color: #282828;
  font-weight: 500;
  margin: 1.2rem 0;
}

.cookies .buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
}

.cookies .buttons .btn {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}

.section-footer {
  background-color: #f4f4f4;
}

.sec-footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 7.6rem;
}

.sec-footer-heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  margin-top: 2rem;
}

.section-footer ul li {
  font-family: "Montserrat", sans-serif;
  padding: 9px;
  list-style: none;
  font-size: 1.4rem;
}

.section-footer ul li a {
  text-decoration: none;
  color: #282828;
}

.sec-footer ul li a:hover {
  text-decoration: underline;
}

.sec-footer-icon {
  margin-right: 1rem;
}

@media (max-width: 70rem) {
  .brand-name {
    position: absolute;
    top: 2rem;
  }

  header {
    margin: 6rem 1rem 2rem 1rem;
  }

  .sec-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 4rem;
  }
}

@media (max-width: 42rem) {
  .navbar {
    flex-direction: column;
    align-items: normal;
  }

  .icon {
    flex-direction: column;
    font-size: 1.8rem;
  }
}

@media (max-width: 26rem) {
  .brand-name {
    font-size: 1.6rem;
  }

  .sec-footer {
    padding: 0;
    gap: 0;
  }

  .sec-footer-heading {
    margin-bottom: 5px;
  }

  .sec-footer ul li {
    padding: 5px 0;
  }
}
