.create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  color: #282828;
  margin-bottom: 15rem;
  margin-top: 10rem;
}

.create-account-heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

#createAccountForm {
  padding: 5rem;
  background-color: #f4f4f4;
  border-radius: 5px;
}

#createAccountForm div {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: 400;
}

input {
  width: 45.6rem;
  padding: 1.6rem;
  border: 1px solid #282828;
  border-radius: 3px;
  outline: none;
  font-size: 2rem;
  font-weight: 500;
  color: #282828;
}

#btn {
  background-color: #282828;
  color: #ffffff;
  font-weight: 500;
  padding: 1.6rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  margin-top: 2.5rem;
}

#btn:hover {
  background-color: #353535;
}

@media (max-width: 38rem) {
  input {
    width: 100%;
  }

  #createAccountForm {
    padding: 2rem;
    width: 100%;
  }
}
