.introduction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12rem;
  place-items: center;
}

.intro-heading {
  font-size: 3.6rem;
}

.intro-para {
  font-size: 1.6rem;
}

.image img {
  width: 62.8rem;
}

.intro-btn {
  padding: 1.8rem 7.7rem;
  margin-top: 3rem;
  background-color: #282828;
  border: none;
  color: #ffff;
  font-weight: 500;
  font-size: 1.4rem;
}

.intro-btn:hover {
  cursor: pointer;
}

.sec-features {
  height: 21.6rem;
  background-color: #f4f4f4;
}

.section-features-text {
  display: flex;
  justify-content: center;
  padding: 3rem 7.6rem;
  margin-top: 9.6rem;
  gap: 5.7rem;
}

.section-features-text div {
  display: flex;
  align-items: center;
}

.feature-text {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 1rem;
  text-decoration: none;
  color: #282828;
}

.feature-btn {
  text-align: center;
}

.feature-btn button {
  padding: 1.8rem 7.7rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 5rem;
}

.feature-btn button:hover {
  cursor: pointer;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.collection-grid div:hover {
  text-decoration: underline;
}

.collection-heading {
  text-align: center;
  margin: 5rem;
  font-size: 3.2rem;
}

.collection-grid-img {
  width: 36rem;
  overflow: hidden;
  margin: auto;
}

.collection-grid img {
  transition: all 0.5s;
  width: 100%;
}

.collection-grid img:hover {
  transform: scale(1.04);
}

.collection-grid p {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 6rem;
  margin-top: 1.8rem;
}

.collection-grid div a {
  text-decoration: none;
  color: #282828;
}

.sec-blog {
  background-color: #f4f4f4;
  padding: 3rem 7.6rem;
  margin-top: 9.2rem;
}

.blog-heading {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 5rem;
}

.sec-blog-flex {
  display: flex;
  gap: 2.4rem;
}

.blog-post-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}

.blog-post-para {
  font-size: 1.6rem;
  margin: 4.8rem auto;
}

.sec-blog-btn {
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
}

.sec-wholesale-flex {
  display: flex;
  align-items: center;
  margin: 7.2rem auto;
}

.sec-whosale-heading {
  font-size: 3.6rem;
  margin: 0 12rem 3rem 7.6rem;
}

.sec-wholesale-para {
  font-size: 1.6rem;
  margin: auto 19.7rem 4.8rem 7.6rem;
}

.sec-wholesale-btn {
  font-size: 1.4rem;
  font-weight: 500;
  margin: auto 19.7rem 4.8rem 7.6rem;
  padding: 1.8rem 7.7rem;
}

.sec-wholesale-btn:hover {
  cursor: pointer;
}

@media (max-width: 70rem) {
  .introduction {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    gap: 4rem;
  }

  .collection-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-blog-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-wholesale-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .sec-whosale-heading {
    margin: 0 0rem 3rem 0rem;
  }

  .sec-wholesale-para {
    width: auto;
    margin: 0 1rem 2rem 1rem;
  }

  .sec-wholesale-btn {
    margin: auto 0rem 4.8rem 0rem;
  }
}

@media (max-width: 50rem) {
  .intro-text {
    width: 80%;
  }

  .section-features-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-features {
    height: auto;
  }

  .feature-btn button {
    margin-top: 0;
  }

  .collection-grid {
    grid-template-columns: auto;
  }

  .sec-blog-flex {
    grid-template-columns: auto;
    place-items: center;
    text-align: center;
    padding: 0 2rem;
  }
}

@media (max-width: 42rem) {
  .introduction img {
    width: 98%;
  }

  .intro-heading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .sec-wholesale img {
    width: 98%;
  }
}

@media (max-width: 26rem) {
  .section-features-text {
    grid-template-columns: auto;
    gap: 4rem;
  }

  .collection-grid-img {
    width: 100%;
  }

  .collection-grid p {
    margin-bottom: 2rem;
  }

  .heading {
    font-size: 2.2rem;
  }

  .sec-blog {
    padding: 0;
  }

  .blog-post-para {
    margin: 2rem 0;
  }

  .sec-whosale-heading {
    font-size: 2rem;
  }

  .sec-wholesale-btn {
    padding: 1rem 3rem;
  }
}
