.cover-text {
  margin: 3.3rem auto auto 7.6rem;
}

.cover-text a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #282828;
}

.line {
  width: 17rem;
  border: 1px solid #a0a0a0;
  margin: 1.5rem auto 1.5rem 2rem;
}

.section-product-details {
  display: flex;
  gap: 10rem;
}

.product-details {
  margin-top: 7.8rem;
  margin-left: 7.6rem;
}

.product-detail-list {
  margin: 8px auto;
  font-size: 1.4rem;
}

.product-details-heading {
  width: 21.6rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
}

.product-detail-icon {
  position: absolute;
  right: 0;
}

.product-lists {
  position: relative;
  margin-top: 12rem;
}

.sort-by {
  position: absolute;
  right: 0;
  top: -5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.product-name-rate {
  text-align: center;
}

.product-name-rate a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #282828;
}

.rate {
  font-weight: 500;
}

.rate-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.section-footer {
  background-color: #f4f4f4;
  margin-top: 19.8rem;
}

.sec-footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 7.6rem;
}

.sec-footer-heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.section-footer ul li {
  font-family: "Montserrat", sans-serif;
  padding: 9px;
  list-style: none;
  font-size: 1.4rem;
}

.section-footer ul li a {
  text-decoration: none;
  color: #282828;
}

.sec-footer-icon {
  margin-right: 1rem;
}

@media (max-width: 83rem) {
  .cover-img img {
    width: 100%;
  }

  .rate-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
  }
}

@media (max-width: 69rem) {
  .rate-list {
    grid-template-columns: auto;
  }

  .section-product-details {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 44rem) {
  .section-product-details {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
}

@media (max-width: 40rem) {
  .section-product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    margin-left: 0rem;
  }
}
